:root {
  --font-family: 'Montserrat', sans-serif;
  --font-button: 500 16/1.5 'Montserrat', sans-serif;
  --font-search: 400 16/1.5 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.04em;
  color: #808080;

  /* display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0; */
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
